@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    /* --ring: 222.2 84% 4.9%; */

    --radius: 0.5rem;
  }

  .dark {
    --background: 235.2 0% 4.9%;
    --foreground: 235.2 0% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 235.2 0% 98%;

    --popover: 0deg 0% 0%;
    --popover-foreground: 235.2 0% 98%;

    --primary: 235.2 0% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 235.2 0% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 235.2 0% 98%;

    --destructive: 0deg 71.22% 46.72% / 77%;
    --destructive-foreground: 235.2 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 235.2 0% 17.5%;
    /* --ring: 212.7 26.8% 83.9%; */
  }
}

.dark {
  a {
    color: #4ecdc4; /* Default link color */
    text-decoration: none; /* Remove underline if needed */
    transition: color 0.3s ease; /* Smooth transition on color change */
  }

  a:hover {
    color: #48a9a6; /* Hover color */
  }

  .bg-color {
    background-color: black;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.header {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 54px;
  margin-left: 1rem;
}

.min-h-screen {
  min-height: 85vh;
}

.conversation {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
}

.para {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bg-color {
  background-color: #f4f4f4;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
